
  <div style = "width:98%;margin:auto;">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row, let i = index"> {{paginator?.pageIndex * paginator?.pageSize + i + 1}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="full_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
        <td mat-cell *matCellDef="let row"> {{row.fullName}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="fathersName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fathers Name </th>
        <td mat-cell *matCellDef="let row"> {{row.fathersName}} </td>
      </ng-container>
  
      <!-- Color Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row" > {{row.email}} </td>
      </ng-container>

      <ng-container matColumnDef="phone_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.phone_number}} </td>
      </ng-container>
      <ng-container matColumnDef="qualification_bachelors_collegename">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row?.address?.state}} </td>
      </ng-container>
      <ng-container matColumnDef="qualification_bachelors_percentage_obtained">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> District </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row?.address?.district}} </td>
      </ng-container>
      <ng-container matColumnDef="higher_secondary1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row?.address?.city}} </td>
      </ng-container>
      <ng-container matColumnDef="higher_secondary2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Landmark </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row?.address?.landmark}} </td>
      </ng-container>
      <ng-container matColumnDef="secondary_education1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pincode </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row?.address?.pincode}} </td>
      </ng-container>
      <ng-container matColumnDef="secondary_education2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> College Name </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row?.qualification?.bachelors?.collegename}} </td>
      </ng-container>
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> College Percentage </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row?.qualification?.bachelors?.percentage_obtained}}% </td>
      </ng-container>
      <ng-container matColumnDef="district">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Higher Sec. School</th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row?.qualification?.higher_secondary?.schoolname}} </td>
      </ng-container>
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Higher Sec. School Percentage </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row?.qualification?.higher_secondary?.percentage_obtained}}% </td>
      </ng-container>
      <ng-container matColumnDef="landmark">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> School  </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row?.qualification?.secondary_education?.schoolname}} </td>
      </ng-container>
      <ng-container matColumnDef="pincode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> School Percentage </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row?.qualification?.secondary_education?.percentage_obtained}}% </td>
      </ng-container>
      <ng-container matColumnDef="operations">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> School Percentage </th>
        <td mat-cell *matCellDef="let row , let i = index" [style.color]="row.color"><button mat-raised-button color="accent" (click) = "edit(paginator?.pageIndex * paginator?.pageSize + i )">Edit</button>  </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>