.example-container {
  height: 400px;
  width: 550px;
  max-width: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

tr.mat-row:hover {
  height: 48px; 
  background-color:rgb(225, 245, 245);
}

tr.mat-header-row {
  height: 56px;
  background-color: aqua !important;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.mat-paginator {
  background-color: aqua !important;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  /* padding-left: 22px; */
  padding: 20px;
  
}
th.mat-header-cell {
  text-align: center;
  
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 5px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align: center;
  border-right: 1px solid whitesmoke;
  word-break: keep-all;
}
th.mat-header-cell[_ngcontent-jtd-c194], td.mat-cell[_ngcontent-jtd-c194], td.mat-footer-cell[_ngcontent-jtd-c194] {
  padding: 5px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align: center;
  word-break: keep-all;
}