<h2 style="text-align: center;">Please Record All Your Personal Informations</h2>
<hr style = "background-color:antiquewhite;height: 8px;">
<form [formGroup]="personal_info_form" (ngSubmit)="onSubmit()" style = "margin:2%;">
    <h2>Personal Details</h2>
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="12px" fxLayoutAlign="flex-start" style="margin:2%;">
        <ng-container style="margin:auto;">
            <div fxFlex="0 1 calc(33% - 12px)" fxFlex.lt-md="0 1 calc(33% - 12px)" fxFlex.lt-sm="100%">
                <mat-form-field appearance="outline" style="width:100%;">
                    <mat-label>Full Name</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="fullName">
                    <mat-hint *ngIf="personal_info_form.get('fullName').touched && personal_info_form.get('fullName').invalid">Please Enter Full Name</mat-hint>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container style="margin:auto;">
            <div fxFlex="0 1 calc(33% - 12px)" fxFlex.lt-md="0 1 calc(33% - 12px)" fxFlex.lt-sm="100%">
                <mat-form-field appearance="outline" style="width:100%;">
                    <mat-label>Fathers Name</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="fathersName">
                    <mat-hint *ngIf="personal_info_form.get('fathersName').touched && personal_info_form.get('fathersName').invalid">Invalid Fathers Name</mat-hint>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container style="margin:auto;">
            <div fxFlex="0 1 calc(33% - 12px)" fxFlex.lt-md="0 1 calc(33% - 12px)" fxFlex.lt-sm="100%">
                <mat-form-field appearance="outline" style="width:100%;">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="email">
                    <mat-hint *ngIf="personal_info_form.get('email').touched && personal_info_form.get('email').invalid">Invalid Email</mat-hint>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container style="margin:auto;">
            <div fxFlex="0 1 calc(33% - 12px)" fxFlex.lt-md="0 1 calc(33% - 12px)" fxFlex.lt-sm="100%">
                <mat-form-field appearance="outline" style="width:100%;">
                    <mat-label>Phone Number</mat-label>
                    <input type = "number" matInput placeholder="Placeholder" formControlName="phone_number">
                    <mat-hint *ngIf="personal_info_form.get('phone_number').touched && personal_info_form.get('phone_number').invalid">Invalid Phone Number</mat-hint>
                </mat-form-field>
            </div>
        </ng-container>
    </div>    


        <div formGroupName="qualification">
            <h2>Qualifications</h2>
            <div formGroupName="secondary_education">
            <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="12px" fxLayoutAlign="flex-start" style="margin:2%;">
                <ng-container style="margin:auto;">
                    <div fxFlex="0 1 calc(33% - 12px)" fxFlex.lt-md="0 1 calc(33% - 12px)" fxFlex.lt-sm="100%">
                        <mat-form-field appearance="outline" style="width:100%;">
                            <mat-label>School Name</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="schoolname">
                            <mat-hint *ngIf="personal_info_form.get('qualification.secondary_education.schoolname').touched && personal_info_form.get('qualification.secondary_education.schoolname').invalid">Invalid College Name</mat-hint>
                        </mat-form-field>
                    </div>
                </ng-container>

                <ng-container style="margin:auto;">
                    <div fxFlex="0 1 calc(33% - 12px)" fxFlex.lt-md="0 1 calc(33% - 12px)" fxFlex.lt-sm="100%">
                        <mat-form-field appearance="outline" style="width:100%;">
                            <mat-label>Percentage</mat-label>
                            <input type = "number" matInput placeholder="Placeholder" formControlName="percentage_obtained">
                            <mat-hint *ngIf="personal_info_form.get('qualification.secondary_education.percentage_obtained').touched && personal_info_form.get('qualification.secondary_education.percentage_obtained').invalid">Invalid Percentage</mat-hint>
                        </mat-form-field>
                    </div>
                </ng-container>
            </div>
        </div>
            <div formGroupName="higher_secondary">
                <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="12px" fxLayoutAlign="flex-start" style="margin:2%;">
                <ng-container style="margin:auto;">
                    <div fxFlex="0 1 calc(33% - 12px)" fxFlex.lt-md="0 1 calc(33% - 12px)" fxFlex.lt-sm="100%">
                        <mat-form-field appearance="outline" style="width:100%;">
                            <mat-label>School Name</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="schoolname">
                            <mat-hint *ngIf="personal_info_form.get('qualification.higher_secondary.schoolname').touched && personal_info_form.get('qualification.higher_secondary.schoolname').invalid">Invalid College Name</mat-hint>
                        </mat-form-field>
                    </div>
                </ng-container>

                <ng-container style="margin:auto;">
                    <div fxFlex="0 1 calc(33% - 12px)" fxFlex.lt-md="0 1 calc(33% - 12px)" fxFlex.lt-sm="100%">
                        <mat-form-field appearance="outline" style="width:100%;">
                            <mat-label>Percentage </mat-label>
                            <input type = "number" matInput placeholder="Placeholder" formControlName="percentage_obtained">
                            <mat-hint *ngIf="personal_info_form.get('qualification.higher_secondary.percentage_obtained').touched && personal_info_form.get('qualification.higher_secondary.percentage_obtained').invalid">Invalid Percentage</mat-hint>
                        </mat-form-field>
                    </div>
                </ng-container>
            </div>
            </div>

            <div formGroupName="bachelors">
                <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="12px" fxLayoutAlign="flex-start" style="margin:2%;">
                <ng-container style="margin:auto;">
                    <div fxFlex="0 1 calc(33% - 12px)" fxFlex.lt-md="0 1 calc(33% - 12px)" fxFlex.lt-sm="100%">
                        <mat-form-field appearance="outline" style="width:100%;">
                            <mat-label>College Name</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="collegename">
                            <mat-hint *ngIf="personal_info_form.get('qualification.bachelors.collegename').touched && personal_info_form.get('qualification.bachelors.collegename').invalid">Invalid College Name</mat-hint>
                        </mat-form-field>
                    </div>
                </ng-container>

                <ng-container style="margin:auto;">
                    <div fxFlex="0 1 calc(33% - 12px)" fxFlex.lt-md="0 1 calc(33% - 12px)" fxFlex.lt-sm="100%">
                        <mat-form-field appearance="outline" style="width:100%;">
                            <mat-label>Percentage</mat-label>
                            <input type = "number" matInput placeholder="Placeholder" formControlName="percentage_obtained">
                            <mat-hint *ngIf="personal_info_form.get('qualification.bachelors.percentage_obtained').touched && personal_info_form.get('qualification.bachelors.percentage_obtained').invalid">Invalid Percentage</mat-hint>
                        </mat-form-field>
                    </div>
                </ng-container>
            </div>
           
        </div>
        </div>


        <div formGroupName="address">
            <h2>Residental Details</h2>
            <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="12px" fxLayoutAlign="flex-start" style="margin:2%;">
            <ng-container style="margin:auto;">
                <div fxFlex="0 1 calc(33% - 12px)" fxFlex.lt-md="0 1 calc(33% - 12px)" fxFlex.lt-sm="100%">
                    <mat-form-field appearance="outline" style="width:100%;">
                        <mat-label>State</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="state">
                        <mat-hint *ngIf="personal_info_form.get('address.state').touched && personal_info_form.get('address.state').invalid">Invalid State</mat-hint>
                    </mat-form-field>
                </div>
            </ng-container>
            <ng-container style="margin:auto;">
                <div fxFlex="0 1 calc(33% - 12px)" fxFlex.lt-md="0 1 calc(33% - 12px)" fxFlex.lt-sm="100%">
                    <mat-form-field appearance="outline" style="width:100%;">
                        <mat-label>District</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="district">
                        <mat-hint *ngIf="personal_info_form.get('address.district').touched && personal_info_form.get('address.district').invalid">Invalid District</mat-hint>
                    </mat-form-field>
                </div>
            </ng-container>
            <ng-container style="margin:auto;">
                <div fxFlex="0 1 calc(33% - 12px)" fxFlex.lt-md="0 1 calc(33% - 12px)" fxFlex.lt-sm="100%">
                    <mat-form-field appearance="outline" style="width:100%;">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="city">
                        <mat-hint *ngIf="personal_info_form.get('address.city').touched && personal_info_form.get('address.city').invalid">Invalid City</mat-hint>
                    </mat-form-field>
                </div>
            </ng-container>
            <ng-container style="margin:auto;">
                <div fxFlex="0 1 calc(33% - 12px)" fxFlex.lt-md="0 1 calc(33% - 12px)" fxFlex.lt-sm="100%">
                    <mat-form-field appearance="outline" style="width:100%;">
                        <mat-label>Landmark</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="landmark">
                        <mat-hint *ngIf="personal_info_form.get('address.landmark').touched && personal_info_form.get('address.landmark').invalid">Invalid Landmark</mat-hint>
                    </mat-form-field>
                </div>
            </ng-container>
            <ng-container style="margin:auto;">
                <div fxFlex="0 1 calc(33% - 12px)" fxFlex.lt-md="0 1 calc(33% - 12px)" fxFlex.lt-sm="100%">
                    <mat-form-field appearance="outline" style="width:100%;">
                        <mat-label>Pincode</mat-label>
                        <input type =  "number" matInput placeholder="Placeholder" formControlName="pincode">
                        <mat-hint *ngIf="personal_info_form.get('address.pincode').touched && personal_info_form.get('address.pincode').invalid">Invalid Pincode</mat-hint>
                    </mat-form-field>
                </div>
            </ng-container>
            </div>
        </div>

       <div formArrayName="hobbies">
            <div  fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="12px" fxLayoutAlign="flex-start" style="margin:2%;">
                <div *ngFor="let hobby of hobbies.controls; index as i, trackBy:trackByFn" style="margin:auto;">
                <ng-container>
                    <div fxFlex="0 1 calc(20% - 12px)" fxFlex.lt-md="0 1 calc(20% - 12px)" fxFlex.lt-sm="100%">
                        <mat-form-field appearance="outline" style="width:100%;">
                            <mat-label>Hobby</mat-label>
                            <input matInput placeholder="Placeholder" [formControl]="hobbies.controls[i]">
                        </mat-form-field>
                    </div>
                </ng-container>
            </div> 
            </div>
                    <a  (click) = "addHobby()" style = "    background-color: cyan;
                    padding: 6px;
                    border: 1px solid darkcyan;
                    border-radius: 9px;
                    margin-left: 2%;
                ">Add More Hobbies</a>
        </div> 
        <hr>
        <hr>
        <div style = "width:100%;display: flex;justify-content: center;">
          <button type="submit"  mat-raised-button color="primary"  style = "text-align: center;" [disabled]="!personal_info_form.valid">Submit</button>
        </div>
</form>