.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}




/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: red;
  }
  /* Font color */
  input.mat-input-element {
    color: red;
  }
  
  .mat-form-field-wrapper {
    padding: 0 .75em 0 .75em;
    margin-top: -0.25em;
    position: relative;
    color: red;
    border: 1px solid coral;
    border-radius: 10px;
}
.mat-hint{
    color:red;
}