<mat-card style="margin-bottom:2%;background-color:aqua; display: flex; justify-content: space-between;">
  <div><h1 style = "font-weight: bold;">Made With Angular Material</h1></div>
  <div>
    <button routerLink="/personal-info-form" mat-raised-button color="primary" style = "margin-right:2px;">Fill Form</button>
    <button routerLink="/list-info" mat-raised-button color="primary">Form Data</button>
  </div>
</mat-card>
<router-outlet></router-outlet>
<!-- <h3>Raised Buttons</h3>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
</div> -->

